
.container {
    position: relative;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    /*asi el contenedor cresca se mostrara sus atributos*/
}
.section {
    padding: 0px;
    background-color: #d4aeae;
    box-sizing: border-box;

}
.static {
    width: 20%;
    background-color: #000000;
    height: 100vh;
    overflow-y: auto;
    /*Sin scroll en las secciones laterales */
    position: fixed;
    top: 0;
}
.static.left {
    left: 0;
    /* Ubica la columna estática izquierda en el borde izquierdo */
}

.static.right {
    right: 0;
    /* Ubica la columna estática derecha en el borde derecho */
}
.scrollable {
    margin-left: 20%;
    /* Deja espacio para la columna estática izquierda */
    margin-right: 20%;
    /* Deja espacio para la columna estática derecha */
    flex-grow: 1;
    /*la columna del emdio se ajusta al espacio sobrante*/
    background-color: #141212;
    min-height: 100vh;
    /* Asegura que ocupe al menos toda la altura de la ventana */
    
    /* Añadir padding para evitar que el contenido toque el borde inferior */
    display: flex;
    flex-direction: column;
}
.feed {
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgb(56, 56, 67);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos hijos horizontalmente */
    overflow: hidden;
    justify-content: flex-start;
    gap: 10px; /* Espacio entre posts */
    box-sizing: border-box;
   
}

