.portada {
    width: 100%;
    height: 200px;
    background-color: palegoldenrod;
    position: relative;
    overflow: hidden;
    /*cualquier img no exceda los limites*/
}

#imgcat {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*ajusta la imagen*/
    display: block;
}

.photo {
    position: absolute;
    display: flex;
    background-color: antiquewhite;
    height: 130px;
    border-radius: 100%;
    width: 130px;
    left: 25%;
    right: inherit;
    border: 5px solid white;
    object-fit: cover;
    top: 110px;
    /*posicion vertical de la imagen intacta*/
}

#imgprofile {
    position: absolute;
    display: flex;
    background-color: antiquewhite;
    height: 130px;
    border-radius: 100%;
    width: 130px;
    right: inherit;
    object-fit: cover;

}

.namecontent {
    position: absolute;
    height: 20px;
    width: 280px;
    bottom: -29px;
}

.information {
    background-color: rgb(227, 224, 224);
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: 'block';
}